*{
  margin:0;
  padding: auto;
}
body{
  height: 100vh;
  background: linear-gradient(to bottom, #333333, #1c1c1c); /* Charcoal Grey to Black Pearl */
    color: #f5f5f5; /* Light text color for contrast */
  color: white;
  font-family: 'outfit';
  
}
p{
  color: white;
}
